.quiz{
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    
}
.quiz ul li{
display: flex;
align-items: center;
border: 1px solid #472147;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
cursor: pointer;
}
.quiz ul li:hover{
    background-color: #472147;
    color:#cccccc ;
}
.quiz button{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: auto;
    background-color: #472147;
    cursor: pointer;
    color: #cccccc;
}
.quiz button:hover{
    background-color: #997c99;
    cursor: pointer;
    color: #472147;

}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}